absl-py==0.11.0
aiobotocore==1.1.2
aiohttp==3.7.3
aioitertools==0.7.1
alabaster==0.7.10
alembic==1.4.3
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.0
apispec==3.3.2
appnope==0.1.0
appscript==1.0.1
argcomplete==1.12.2
asn1crypto==0.22.0
astroid==1.5.3
astropy==2.0.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
autofeat==2.0.4
Babel==2.5.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.0.0
Bottleneck==1.2.1
branca==0.4.1
bs4==0.0.1
cached-property==1.5.2
cachetools==4.1.1
cattrs==1.0.0
certifi==2020.11.8
cffi==1.10.0
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama==0.3.9
colorlog==4.0.2
commonmark==0.9.1
conda==4.4.3
conda-build==3.0.22
conda-verify==2.0.0
confuse==1.4.0
connexion==2.7.0
contextlib2==0.5.5
contextvars==2.4
croniter==0.3.37
cryptography==2.0.3
cycler==0.10.0
Cython==0.26.1
cytoolz==0.8.2
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
dataclasses==0.7
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
distributed @ file:///opt/concourse/worker/volumes/live/70a47bf9-67ad-496a-7b72-c04076a63cd9/volume/distributed_1605066533125/work
dnspython==2.0.0
docutils==0.14
elasticsearch==7.10.1
email-validator==1.1.2
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
featuretools==0.21.0
filelock==2.0.12
Flask==1.1.2
Flask-AppBuilder==3.1.1
Flask-Babel==1.0.0
Flask-Caching==1.9.0
Flask-Cors==3.0.3
Flask-JWT-Extended==3.25.0
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.13
Flask-WTF==0.14.3
flatten-json==0.1.7
fsspec==0.8.4
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gevent==1.2.2
glob2==0.5
gmpy2==2.0.8
google-auth==1.23.0
google-auth-oauthlib==0.4.2
graphviz==0.16
greenlet==0.4.12
grpcio==1.33.2
gunicorn==19.10.0
h5py==2.10.0
heapdict==1.0.0
html5lib==0.999999999
htmlmin==0.1.12
idna==2.10
idna-ssl==1.1.0
ImageHash==4.2.0
imageio==2.2.0
imagesize==0.7.1
imbalanced-learn==0.7.0
imblearn==0.0
immutables @ file:///opt/concourse/worker/volumes/live/4ddf6690-05db-4e18-4492-d856be2d7c23/volume/immutables_1592425996831/work
importlib-metadata==1.7.0
importlib-resources==1.5.0
inflection==0.5.1
ipykernel==5.3.4
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.13
isort==4.2.15
itsdangerous==1.1.0
jdcal==1.3
jedi==0.10.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
json-merge-patch==0.2
jsonify==0.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==5.2.0
jupyter-core==4.7.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.3.1
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
lxml==3.8.0
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.1.0
marshmallow-sqlalchemy==0.23.1
matplotlib==3.3.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.7.4
mkl-fft==1.0.6
mkl-random==1.0.1
mpmath==0.19
msgpack==1.0.0
multidict==5.1.0
multipledispatch==0.4.9
natsort==7.1.0
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.5
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
numba==0.51.2
numexpr==2.6.2
numpy==1.18.0
numpydoc==0.7.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.44
openapi-spec-validator==0.2.9
openpyxl==2.4.8
opensky-api==1.3.0
opt-einsum==3.3.0
packaging==16.8
pandas==1.0.3
pandas-profiling==2.9.0
pandocfilters==1.4.2
partd==1.1.0
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
pendulum==2.1.2
pep562==1.0
pep8==1.7.0
pexpect==4.2.1
phik==0.10.0
pickleshare==0.7.4
Pillow==8.0.1
Pint==0.16.1
pkginfo==1.4.1
ply==3.10
prison==0.1.3
prompt-toolkit==1.0.15
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.2.0
PyJWT==2.0.0
pylint==1.7.2
PyMySQL==0.10.1
pyodbc==4.0.17
pyOpenSSL==17.2.0
pyparsing==2.2.0
pyrsistent==0.17.3
PySocks==1.6.7
pytest==3.2.1
python-daemon==2.2.4
python-dateutil==2.6.1
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2017.2
pytzdata==2020.1
PyWavelets==0.5.2
PyYAML==5.3.1
pyzmq==20.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.9.0
requests==2.23.0
requests-oauthlib==1.3.0
rich==9.2.0
rope==0.10.5
rsa==4.6
ruamel-yaml==0.11.14
s3fs==0.5.1
s3transfer==0.3.3
scikit-image==0.13.0
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.3
scrape-linkedin @ git+git://github.com/austinoboyle/scrape-linkedin-selenium.git@81bdcc88577d0e4df48c77c22cb12784a0fd3c71
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
selenium @ file:///Users/runner/miniforge3/conda-bld/selenium_1601468657455/work
setproctitle==1.2.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
spyder==3.2.3
statsmodels==0.8.0
swagger-ui-bundle==0.0.8
sympy==1.1.1
tables==3.4.2
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
TBB==0.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tenacity==6.2.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
text-unidecode==1.3
textblob==0.15.3
threadpoolctl==2.1.0
thrift==0.13.0
toolz==0.8.2
tornado==4.5.3
tqdm==4.50.2
traitlets==4.3.2
typing==3.6.2
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.10
visions==0.5.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.10.11
WTForms==2.3.3
xlrd==1.1.0
XlsxWriter==0.9.8
xlwings==0.11.4
xlwt==1.2.0
xmltodict==0.12.0
yarl==1.6.3
zict==2.0.0
zipp==3.4.0