<!DOCTYPE HTML>
<html>
	<head>
		<title>Live Food Reviews Sentiment Prediction</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/main.css" />
		<noscript><link rel="stylesheet" href="../static/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="https://aminsafarini.me/" class="title">Return to Home</a> 
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">

							<h1 class="major">Live Food Reviews Sentiment Prediction</h1>

							<br>
                    	<div>

                    		<!-- 
                            <form action="{{ url_for('predict')}}" method="post">
                           
                                <h2>Test the model by submitting a review below:</h2>

                                <textarea name="message" rows="5", cols="50"></textarea>

                                <br><button href="food_reviews_sentiment/templates/Food Reviews Sentiment.html">Refresh to Try Again</button>
                                <br>
                            </form>
                        	-->

                                <h3 style="text-align: center;">{{ prediction_text }}</h3>
                            	<br>
                            	<br>
                            	<p style="text-align: center;">Go back and test out the model again <a href="https://food-reviews-sentiment.herokuapp.com/" style="color: white; font-weight: bold;" >here</a></p>
                        </div>

						</div>
					</section>



			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Amin Safarini - 2020. All rights reserved.</li><li>Website: <a href="https://aminsafarini.me/">www.aminsafarini.me</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>
